
body{
margin-top: 100px;
background-color: rgba(4, 4, 148, 0.726);
}

ul{
padding: 0;
margin-bottom: 0px;

}
ul li{
border: 1px solid grey;
list-style: none;
padding: 5px;
background-color: antiquewhite;
}

h1{

  text-align: center;
}
input{

  width: auto;
  background-color: antiquewhite;

}


.container {
  max-width: 600px;
  margin: 0 auto;
}

.username-input,
.task-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
